<h2>Create View</h2>

<%= params[:product].inspect %>



<% product = Product.new(params[:product]) %>
<%= product.save %>
<%= product.inspect  %>

<br />
<% product.errors.inspect %>

<% if product.save %>
  <h2> Congrats You Created a New Product</h2>
  Your product looks like <%= product.inspect %>
<% else %>
  <h2>Your product was not saved!! </h2>
  <%= product.errors.full_messages %>
  Please go back in your browser and fix the problem
<% end %>