<div id="highChartContainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<a href="#" data-hide-element='chart'>Chart</a>

<h2> Products in the market </h2>

<table>
  <tbody>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Cost</th>
      <th>Seller</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
      	<td><%= product.name %></td>
      	<td>$<%= product.price %></td>
      	<td><%= product.user.name if product.user.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=
    @products.map do |product|
      [product.name, product.price/@sum_price]
    end
%>


<script type='text/javascript'>
  $(document).ready(function(){
        chart = new Highcharts.Chart({
        chart: {
            renderTo: 'highChartContainer',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Browser market shares at a specific website, 2010'
        },
        series: [{
            type: 'pie',
            name: 'Product Share',
            data:
              <%=
                  @products.map do |product|
                    [product.name, product.price/@sum_price]
                  end.to_json.html_safe
              %>
        }]
    });
  });
  $('[data-hide-element=chart]').on('click', function(){
    $('#highChartContainer').toggle()
  });
</script>


